/* Agrega estos estilos en tu archivo global de estilos (App.css o index.css) */


/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9; /* Fondo suave para toda la página */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Asegura que ocupe toda la pantalla */
}

/* Scrollbar moderno para Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1976d2; /* azul MUI */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1976d2 transparent;
}
